.card-filtro {
    margin-bottom: 10px;
}
  
:host .botao-exportar /deep/ .ui-button {
    background: none;
    box-shadow: none;
    padding-top: 7px;
    color: #717171;
}
  
:host .botao-exportar:hover /deep/ .ui-button {
    background: #efefef;
    font-weight: bold;
}

:host .botao-exportar:first /deep/ .ui-button {
    padding-left: 30px;
}

:host .botao-exportar /deep/ .ui-button i {
    font-size: 1.1rem;
}

:host .botao-exportar /deep/ .ui-button span {
    margin-left: 3px;
}

.total-registros {
    margin-right: 20px;
}

.botao-pesquisar {
    margin: 2%;
}
  
td {
  text-align: center;
}

.card-novo-padrao {
    text-align: center;
    padding: 40px;
    color: #2670E8;
    font-size: 1.4em;
  }
  
  .info-icon {
    margin-left: 20px;
    color: #d4d4d4;
  }
  
  :host /deep/ .ui-multiselect {
    min-width: auto;
  }
  
  :host .botao-exportar /deep/ .ui-button {
    background: none;
    box-shadow: none;
    padding-top: 7px;
    color: #717171;
  }
  
  :host .botao-exportar:hover /deep/ .ui-button {
    background: #efefef;
    font-weight: bold;
  }
  
  :host .botao-exportar:first /deep/ .ui-button {
    padding-left: 30px;
  }
  
  :host .botao-exportar /deep/ .ui-button i {
    font-size: 1.1rem;
  }
  
  :host .botao-exportar /deep/ .ui-button span {
    margin-left: 3px;
  }
  
  .total-registros {
    margin-right: 20px;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  button {
    width: 100%;
    padding: 0;
  }
  
  .button-success {
    line-height: 2.25em;
    height: 3em;
    font-weight: 600;
    border-radius: 30px !important;
    font-size: 16px;
  }
  
  .botao-pesquisar {
    text-align: center;
    width: 100%;
  }
  
  .width-100 {
      width: 100px;
  }
  
  @media (max-width: 1204px) {
    .responsividade-botoes {
      width: 100%;
    }
  }
  
  .livro-cnct {
    padding-right: 18px;
  }

  .cor-vermelha {
    color: red;
  }

  .cor-verde {
    color: green;
  }

  .cor-amarela {
    color: yellow;
  }

  .alinhamento {
    text-align: center;
  }